@use "colors";
@use "components";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
  height: 100%;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.custom-control {
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}

@include colors.compile_color_styles();
@include components.compile_components_styles();
