@use "colors";
@use "components";
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  font-family: "Roboto", sans-serif;
}

:root {
  --right-space: 1fr;
  --middle-space: 10fr;
  --left-space: 1fr;
}

.base-grid {
  display: grid;
  height: 100vh;
  grid-template-rows: auto 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}

header {
  grid-area: header;
  display: grid;
  grid-template-areas:
    "header-logo"
    "header-navbar";

  .header-logo {
    display: grid;
    grid-area: "header-logo";
    grid-template-columns: var(--right-space) var(--middle-space) var(
        --left-space
      );
    grid-template-areas: ". logo .";

    .logo {
      grid-area: logo;
    }
  }

  .header-navbar {
    display: grid;
    grid-area: "header-navbar";
    grid-template-columns: var(--right-space) var(--middle-space) var(
        --left-space
      );
    grid-row: 1fr;
    grid-template-areas: ". item .";

    .navbar-item {
      grid-area: item;
    }
  }
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  display: grid;
  grid-template-columns: var(--right-space) var(--middle-space) var(
      --left-space
    );
  grid-template-areas: ". footer-content .";

  .footer-content {
    grid-area: footer-content;
  }
}

a {
  text-decoration: none;
}

.custom-control {
  &:focus {
    outline: 0 none;
    box-shadow: none;
  }
}

@include colors.compile_color_styles();
@include components.compile_components_styles();
