.git
.gitignore
.idea
env
!env/.env
venv
Dockerfile
setup.cfg
docker-compose.yml
docker-compose.dev.yml
requirements/*
!requirements/prod.txt
typing_speed_trainer/config/settings/development.py

**/.coveragerc
**/htmlcov
**/.coverage
**/__pycache__
**/tests
**/sass
**/pytest.ini