.git
.gitignore
.idea
.env.dev
.env.prod
venv
Dockerfile
setup.cfg
docker-compose.yml
docker-compose.dev.yml
requirements/*
!requirements/prod.txt

**/.coveragerc
**/htmlcov
**/.coverage
**/__pycache__
**/tests
**/sass
**/pytest.ini


**/typing_speed_trainer/media/*
!**/typing_speed_trainer/media/profile_photos
**/typing_speed_trainer/media/profile_photos/*
!**/typing_speed_trainer/media/profile_photos/default.jpg