.git
.gitignore
.idea
venv
Dockerfile
setup.cfg
docker-compose.yml
requirements/*
!requirements/prod.txt

**/.coveragerc
**/.coverage
**/.env.dist
**/__pycache__
**/migrations
**/tests
**/sass


**/typing_speed_trainer/media/*
!**/typing_speed_trainer/media/profile_photos
**/typing_speed_trainer/media/profile_photos/*
!**/typing_speed_trainer/media/profile_photos/default.jpg