.idea
db.sqlite3
__pycache__
.env
venv
.coverage
.pytest_cache
htmlcov

typing_speed_trainer/media/*
!typing_speed_trainer/media/profile_photos
typing_speed_trainer/media/profile_photos/*
!typing_speed_trainer/media/profile_photos/default.jpg

requirements/*

docker_volume