$colors: (
  red: (
    100: rgb(255, 200, 196),
    200: rgb(252, 156, 149),
    300: rgb(252, 109, 98),
    400: rgb(255, 68, 54),
    500: rgb(189, 27, 15),
  ),
  orange: (
    100: rgb(250, 202, 150),
    200: rgb(227, 162, 91),
    300: rgb(252, 163, 66),
    400: rgb(255, 145, 25),
    500: rgb(219, 115, 2),
  ),
  yellow: (
    100: rgb(252, 241, 187),
    200: rgb(250, 230, 135),
    300: rgb(252, 225, 96),
    400: rgb(255, 220, 54),
    500: rgb(252, 211, 15),
  ),
  green: (
    100: #c1ff1c,
    200: #9be931,
    300: #58bb43,
    400: #3aa346,
    500: #007542,
  ),
  blue: (
    100: #6f7589,
    200: #505163,
    300: #3e4053,
    400: #2b2d42,
    500: #232538,
    600: #202233,
    700: #1d1f2e,
  ),
  purple: (
    100: rgb(204, 166, 255),
    200: rgb(185, 133, 255),
    300: rgb(160, 91, 252),
    400: rgb(141, 56, 255),
    500: rgb(125, 30, 252),
  ),
  main: (
    100: #eecea8,
    200: #f8a26f,
    300: #b5654c,
    400: #855d68,
    500: #8c837a,
    600: #a1aec4,
    700: #edf2f4,
  ),
);
