{% extends 'trainer/base_trainer.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'trainer/css/style.css' %}">
{% endblock %}

{% block content %}
{% include 'trainer/includes/result_modal_page.html' %}

<div class="container">
    <div class="py-4">
        <div class="row g-4">

            <div class="col-lg-9 text-field">
                <div class="text-trainer fs-4">

                    <!--Hidden user input-->
                    <div class="user-input">
                        <input type="text" class="input-text">
                    </div>

                    <!--Background text-->
                    <div class="background-text text-blue-100">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae eius exercitationem natus
                        officiis pariatur perferendis quaerat quam repudiandae sed! At consequatur dicta molestias,
                        praesentium quisquam quos repellendus saepe sequi!Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Ad aliquid cum eligendi enim, est facilis illum labore maxime molestiae
                        molestias nam, nemo, optio placeat repellendus rerum similique suscipit ullam voluptates!
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet beatae eius exercitationem natus
                        officiis pariatur perferendis quaerat quam repudiandae sed! At consequatur dicta molestias,
                        praesentium quisquam quos repellendus saepe sequi!Lorem ipsum dolor sit amet, consectetur
                        adipisicing elit. Ad aliquid cum eligendi enim, est facilis illum labore maxime molestiae
                        molestias nam, nemo, optio placeat repellendus rerum similique suscipit ullam voluptates!
                    </div>

                </div>
            </div>

            <!--Settings bar-->
            <div class="col-lg-3 settings-bar">
                <div class="text-light rounded bg-blue-700 p-3">
                    <div class="row g-2 row-cols-1">

                        <div class="col">
                            <div class="border-blue-200-bottom">
                                <h5 class="fw-bold">Настройки</h5>
                            </div>
                        </div>

                        <div class="col">

                            <div class="row g-2 row-cols-1">
                                <div class="col">
                                    <label for="select-time" class="me-2">Время:</label>
                                    <select class="form-select form-select-sm custom-select bg-main-600 border-0"
                                            id="select-time">
                                        <option value="1">1:00</option>
                                        <option value="2">2:00</option>
                                        <option value="3">3:00</option>
                                    </select>
                                </div>

                                <div class="col">
                                    <div class="d-flex justify-content-center border-blue-200-top">
                                        <button class="btn-green-400 btn-sm mt-2 start-typing-trainer">Начать</button>
                                    </div>
                                </div>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <!--Statistics bar-->
            <div class="col-lg-3 statistics-bar">
                <div class="text-light rounded bg-blue-700 p-3">
                    <div class="row g-2 row-cols-1">

                        <div class="col">
                            <div class="border-blue-200-bottom">
                                <h5 class="fw-bold">Статистика</h5>
                            </div>
                        </div>

                        <div class="col">
                            <div class="row row-cols-1 g-2">

                                <div class="col">
                                    Оставшиеся время:
                                    <div class="fs-4 bg-blue-400 px-2 rounded left-time">-</div>
                                </div>

                                <div class="col">
                                    Набрано слов:
                                    <div class="fs-4 bg-blue-400 px-2 rounded text-green-300 words-amount">-</div>
                                </div>

                                <div class="col">
                                    Ошибок:
                                    <div class="fs-4 bg-blue-400 px-2 rounded text-red-300 typo-amount">-</div>
                                </div>

                            </div>
                        </div>

                        <div class="col">
                            <div class="d-flex justify-content-center border-blue-200-top">
                                <button class="btn-main-400 mt-2 stop-typing-trainer">Остановить</button>
                            </div>
                        </div>

                    </div>

                </div>
            </div>

        </div>
    </div>
</div>
{% endblock %}

{% block script %}
<script src="{% static 'trainer/js/main.js' %}" type="module"></script>
{% endblock %}