{% extends 'base.html' %}
{% load static %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'account/css/auth-base-style.css' %}">
{% endblock %}

{% block content %}
<div class="container mt-5">

    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="d-flex flex-column">

                {% include 'includes/alerts.html' %}

                {% block alert %}

                {% endblock %}

            </div>
        </div>
    </div>

    <div class="row justify-content-center align-items-center">
        <div class="col-4">
            <div class="p-4 bg-blue-800 rounded text-light">

                <div class="d-flex justify-content-center align-items-center pb-2 border-blue-200-bottom">
                    <span class="fs-4 fw-light">Typing practise</span>
                </div>

                {% block auth_content %}

                {% endblock %}

                <div class="d-flex flex-column mt-5">
                    {% block add_link %}

                    {% endblock %}
                </div>

            </div>
        </div>
    </div>
</div>
{% endblock %}