{% load crispy_forms_tags %}


<div class="modal-page delete">
    <div class="page">
        <div class="container">
            <div class="inner d-flex flex-column text-light">

                <div class="header bg-blue-700 p-3">
                    <span class="fw-bold fs-5">Удалить фото профиля</span>
                </div>

                <div class="content bg-blue-400 p-3">
                    Вы точно хотите удалить своё фото?
                </div>

                <div class="footer bg-blue-700 p-3">
                    <div class="d-flex justify-content-end">
                        <form action="{% url 'account:delete_profile_photo' %}" method="post">
                            {% csrf_token %}
                            <button type="submit" class="ms-2 btn-red-500 btn-sm">Удалить</button>
                        </form>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
