{% load crispy_forms_tags %}


<div class="modal-page photo">
    <div class="page">
        <div class="container">
            <form action="{% url 'account:update_profile_photo' %}" method="post" enctype="multipart/form-data" novalidate>
                <div class="inner d-flex flex-column text-light">

                    <div class="header bg-blue-700 p-3">
                        <span class="fw-bold fs-5">Изменить фото профиля</span>
                    </div>

                    <div class="content bg-blue-400 p-3 pb-0">
                        {% crispy load_photo_form %}
                    </div>

                    <div class="footer bg-blue-700 p-3">
                        <div class="d-flex justify-content-end">
                            <button type="submit" class="btn-orange-400 btn-sm">Изменить</button>
                        </div>
                    </div>

                </div>
            </form>
        </div>
    </div>
</div>
