@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  font-family: "Roboto", sans-serif;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1 1 auto;
}

a {
  text-decoration: none;
}

.custom-control:focus {
  outline: 0 none;
  box-shadow: none;
}

a.link-red-100 {
  color: rgb(255, 200, 196);
}
a.link-red-100:hover {
  color: white;
}

.text-red-100 {
  color: rgb(255, 200, 196);
}

.bg-red-100 {
  background-color: rgb(255, 200, 196);
}

a.link-red-100 {
  color: rgb(255, 200, 196);
}
a.link-red-100:hover {
  color: white;
}

.border-red-100 {
  border: 1px solid rgb(255, 200, 196);
}

.border-red-100-top {
  border-top: 1px solid rgb(255, 200, 196);
}

.border-red-100-bottom {
  border-bottom: 1px solid rgb(255, 200, 196);
}

.border-red-100-start {
  border-left: 1px solid rgb(255, 200, 196);
}

.border-red-100-end {
  border-right: 1px solid rgb(255, 200, 196);
}

a.link-red-200 {
  color: rgb(252, 156, 149);
}
a.link-red-200:hover {
  color: #fee1df;
}

.text-red-200 {
  color: rgb(252, 156, 149);
}

.bg-red-200 {
  background-color: rgb(252, 156, 149);
}

a.link-red-200 {
  color: rgb(252, 156, 149);
}
a.link-red-200:hover {
  color: #fee1df;
}

.border-red-200 {
  border: 1px solid rgb(252, 156, 149);
}

.border-red-200-top {
  border-top: 1px solid rgb(252, 156, 149);
}

.border-red-200-bottom {
  border-bottom: 1px solid rgb(252, 156, 149);
}

.border-red-200-start {
  border-left: 1px solid rgb(252, 156, 149);
}

.border-red-200-end {
  border-right: 1px solid rgb(252, 156, 149);
}

a.link-red-300 {
  color: rgb(252, 109, 98);
}
a.link-red-300:hover {
  color: #fdb3ad;
}

.text-red-300 {
  color: rgb(252, 109, 98);
}

.bg-red-300 {
  background-color: rgb(252, 109, 98);
}

a.link-red-300 {
  color: rgb(252, 109, 98);
}
a.link-red-300:hover {
  color: #fdb3ad;
}

.border-red-300 {
  border: 1px solid rgb(252, 109, 98);
}

.border-red-300-top {
  border-top: 1px solid rgb(252, 109, 98);
}

.border-red-300-bottom {
  border-bottom: 1px solid rgb(252, 109, 98);
}

.border-red-300-start {
  border-left: 1px solid rgb(252, 109, 98);
}

.border-red-300-end {
  border-right: 1px solid rgb(252, 109, 98);
}

a.link-red-400 {
  color: rgb(255, 68, 54);
}
a.link-red-400:hover {
  color: #ff8b83;
}

.text-red-400 {
  color: rgb(255, 68, 54);
}

.bg-red-400 {
  background-color: rgb(255, 68, 54);
}

a.link-red-400 {
  color: rgb(255, 68, 54);
}
a.link-red-400:hover {
  color: #ff8b83;
}

.border-red-400 {
  border: 1px solid rgb(255, 68, 54);
}

.border-red-400-top {
  border-top: 1px solid rgb(255, 68, 54);
}

.border-red-400-bottom {
  border-bottom: 1px solid rgb(255, 68, 54);
}

.border-red-400-start {
  border-left: 1px solid rgb(255, 68, 54);
}

.border-red-400-end {
  border-right: 1px solid rgb(255, 68, 54);
}

a.link-red-500 {
  color: rgb(189, 27, 15);
}
a.link-red-500:hover {
  color: #ee382a;
}

.text-red-500 {
  color: rgb(189, 27, 15);
}

.bg-red-500 {
  background-color: rgb(189, 27, 15);
}

a.link-red-500 {
  color: rgb(189, 27, 15);
}
a.link-red-500:hover {
  color: #ee382a;
}

.border-red-500 {
  border: 1px solid rgb(189, 27, 15);
}

.border-red-500-top {
  border-top: 1px solid rgb(189, 27, 15);
}

.border-red-500-bottom {
  border-bottom: 1px solid rgb(189, 27, 15);
}

.border-red-500-start {
  border-left: 1px solid rgb(189, 27, 15);
}

.border-red-500-end {
  border-right: 1px solid rgb(189, 27, 15);
}

a.link-orange-100 {
  color: rgb(250, 202, 150);
}
a.link-orange-100:hover {
  color: #fdefdf;
}

.text-orange-100 {
  color: rgb(250, 202, 150);
}

.bg-orange-100 {
  background-color: rgb(250, 202, 150);
}

a.link-orange-100 {
  color: rgb(250, 202, 150);
}
a.link-orange-100:hover {
  color: #fdefdf;
}

.border-orange-100 {
  border: 1px solid rgb(250, 202, 150);
}

.border-orange-100-top {
  border-top: 1px solid rgb(250, 202, 150);
}

.border-orange-100-bottom {
  border-bottom: 1px solid rgb(250, 202, 150);
}

.border-orange-100-start {
  border-left: 1px solid rgb(250, 202, 150);
}

.border-orange-100-end {
  border-right: 1px solid rgb(250, 202, 150);
}

a.link-orange-200 {
  color: rgb(227, 162, 91);
}
a.link-orange-200:hover {
  color: #eec79c;
}

.text-orange-200 {
  color: rgb(227, 162, 91);
}

.bg-orange-200 {
  background-color: rgb(227, 162, 91);
}

a.link-orange-200 {
  color: rgb(227, 162, 91);
}
a.link-orange-200:hover {
  color: #eec79c;
}

.border-orange-200 {
  border: 1px solid rgb(227, 162, 91);
}

.border-orange-200-top {
  border-top: 1px solid rgb(227, 162, 91);
}

.border-orange-200-bottom {
  border-bottom: 1px solid rgb(227, 162, 91);
}

.border-orange-200-start {
  border-left: 1px solid rgb(227, 162, 91);
}

.border-orange-200-end {
  border-right: 1px solid rgb(227, 162, 91);
}

a.link-orange-300 {
  color: rgb(252, 163, 66);
}
a.link-orange-300:hover {
  color: #fdc88d;
}

.text-orange-300 {
  color: rgb(252, 163, 66);
}

.bg-orange-300 {
  background-color: rgb(252, 163, 66);
}

a.link-orange-300 {
  color: rgb(252, 163, 66);
}
a.link-orange-300:hover {
  color: #fdc88d;
}

.border-orange-300 {
  border: 1px solid rgb(252, 163, 66);
}

.border-orange-300-top {
  border-top: 1px solid rgb(252, 163, 66);
}

.border-orange-300-bottom {
  border-bottom: 1px solid rgb(252, 163, 66);
}

.border-orange-300-start {
  border-left: 1px solid rgb(252, 163, 66);
}

.border-orange-300-end {
  border-right: 1px solid rgb(252, 163, 66);
}

a.link-orange-400 {
  color: rgb(255, 145, 25);
}
a.link-orange-400:hover {
  color: #ffb666;
}

.text-orange-400 {
  color: rgb(255, 145, 25);
}

.bg-orange-400 {
  background-color: rgb(255, 145, 25);
}

a.link-orange-400 {
  color: rgb(255, 145, 25);
}
a.link-orange-400:hover {
  color: #ffb666;
}

.border-orange-400 {
  border: 1px solid rgb(255, 145, 25);
}

.border-orange-400-top {
  border-top: 1px solid rgb(255, 145, 25);
}

.border-orange-400-bottom {
  border-bottom: 1px solid rgb(255, 145, 25);
}

.border-orange-400-start {
  border-left: 1px solid rgb(255, 145, 25);
}

.border-orange-400-end {
  border-right: 1px solid rgb(255, 145, 25);
}

a.link-orange-500 {
  color: rgb(219, 115, 2);
}
a.link-orange-500:hover {
  color: #fd992c;
}

.text-orange-500 {
  color: rgb(219, 115, 2);
}

.bg-orange-500 {
  background-color: rgb(219, 115, 2);
}

a.link-orange-500 {
  color: rgb(219, 115, 2);
}
a.link-orange-500:hover {
  color: #fd992c;
}

.border-orange-500 {
  border: 1px solid rgb(219, 115, 2);
}

.border-orange-500-top {
  border-top: 1px solid rgb(219, 115, 2);
}

.border-orange-500-bottom {
  border-bottom: 1px solid rgb(219, 115, 2);
}

.border-orange-500-start {
  border-left: 1px solid rgb(219, 115, 2);
}

.border-orange-500-end {
  border-right: 1px solid rgb(219, 115, 2);
}

a.link-yellow-100 {
  color: rgb(252, 241, 187);
}
a.link-yellow-100:hover {
  color: white;
}

.text-yellow-100 {
  color: rgb(252, 241, 187);
}

.bg-yellow-100 {
  background-color: rgb(252, 241, 187);
}

a.link-yellow-100 {
  color: rgb(252, 241, 187);
}
a.link-yellow-100:hover {
  color: white;
}

.border-yellow-100 {
  border: 1px solid rgb(252, 241, 187);
}

.border-yellow-100-top {
  border-top: 1px solid rgb(252, 241, 187);
}

.border-yellow-100-bottom {
  border-bottom: 1px solid rgb(252, 241, 187);
}

.border-yellow-100-start {
  border-left: 1px solid rgb(252, 241, 187);
}

.border-yellow-100-end {
  border-right: 1px solid rgb(252, 241, 187);
}

a.link-yellow-200 {
  color: rgb(250, 230, 135);
}
a.link-yellow-200:hover {
  color: #fdf5d0;
}

.text-yellow-200 {
  color: rgb(250, 230, 135);
}

.bg-yellow-200 {
  background-color: rgb(250, 230, 135);
}

a.link-yellow-200 {
  color: rgb(250, 230, 135);
}
a.link-yellow-200:hover {
  color: #fdf5d0;
}

.border-yellow-200 {
  border: 1px solid rgb(250, 230, 135);
}

.border-yellow-200-top {
  border-top: 1px solid rgb(250, 230, 135);
}

.border-yellow-200-bottom {
  border-bottom: 1px solid rgb(250, 230, 135);
}

.border-yellow-200-start {
  border-left: 1px solid rgb(250, 230, 135);
}

.border-yellow-200-end {
  border-right: 1px solid rgb(250, 230, 135);
}

a.link-yellow-300 {
  color: rgb(252, 225, 96);
}
a.link-yellow-300:hover {
  color: #fdefab;
}

.text-yellow-300 {
  color: rgb(252, 225, 96);
}

.bg-yellow-300 {
  background-color: rgb(252, 225, 96);
}

a.link-yellow-300 {
  color: rgb(252, 225, 96);
}
a.link-yellow-300:hover {
  color: #fdefab;
}

.border-yellow-300 {
  border: 1px solid rgb(252, 225, 96);
}

.border-yellow-300-top {
  border-top: 1px solid rgb(252, 225, 96);
}

.border-yellow-300-bottom {
  border-bottom: 1px solid rgb(252, 225, 96);
}

.border-yellow-300-start {
  border-left: 1px solid rgb(252, 225, 96);
}

.border-yellow-300-end {
  border-right: 1px solid rgb(252, 225, 96);
}

a.link-yellow-400 {
  color: rgb(255, 220, 54);
}
a.link-yellow-400:hover {
  color: #ffe983;
}

.text-yellow-400 {
  color: rgb(255, 220, 54);
}

.bg-yellow-400 {
  background-color: rgb(255, 220, 54);
}

a.link-yellow-400 {
  color: rgb(255, 220, 54);
}
a.link-yellow-400:hover {
  color: #ffe983;
}

.border-yellow-400 {
  border: 1px solid rgb(255, 220, 54);
}

.border-yellow-400-top {
  border-top: 1px solid rgb(255, 220, 54);
}

.border-yellow-400-bottom {
  border-bottom: 1px solid rgb(255, 220, 54);
}

.border-yellow-400-start {
  border-left: 1px solid rgb(255, 220, 54);
}

.border-yellow-400-end {
  border-right: 1px solid rgb(255, 220, 54);
}

a.link-yellow-500 {
  color: rgb(252, 211, 15);
}
a.link-yellow-500:hover {
  color: #fde15b;
}

.text-yellow-500 {
  color: rgb(252, 211, 15);
}

.bg-yellow-500 {
  background-color: rgb(252, 211, 15);
}

a.link-yellow-500 {
  color: rgb(252, 211, 15);
}
a.link-yellow-500:hover {
  color: #fde15b;
}

.border-yellow-500 {
  border: 1px solid rgb(252, 211, 15);
}

.border-yellow-500-top {
  border-top: 1px solid rgb(252, 211, 15);
}

.border-yellow-500-bottom {
  border-bottom: 1px solid rgb(252, 211, 15);
}

.border-yellow-500-start {
  border-left: 1px solid rgb(252, 211, 15);
}

.border-yellow-500-end {
  border-right: 1px solid rgb(252, 211, 15);
}

a.link-green-100 {
  color: rgb(168, 255, 184);
}
a.link-green-100:hover {
  color: #f5fff6;
}

.text-green-100 {
  color: rgb(168, 255, 184);
}

.bg-green-100 {
  background-color: rgb(168, 255, 184);
}

a.link-green-100 {
  color: rgb(168, 255, 184);
}
a.link-green-100:hover {
  color: #f5fff6;
}

.border-green-100 {
  border: 1px solid rgb(168, 255, 184);
}

.border-green-100-top {
  border-top: 1px solid rgb(168, 255, 184);
}

.border-green-100-bottom {
  border-bottom: 1px solid rgb(168, 255, 184);
}

.border-green-100-start {
  border-left: 1px solid rgb(168, 255, 184);
}

.border-green-100-end {
  border-right: 1px solid rgb(168, 255, 184);
}

a.link-green-200 {
  color: rgb(129, 252, 151);
}
a.link-green-200:hover {
  color: #ccfed5;
}

.text-green-200 {
  color: rgb(129, 252, 151);
}

.bg-green-200 {
  background-color: rgb(129, 252, 151);
}

a.link-green-200 {
  color: rgb(129, 252, 151);
}
a.link-green-200:hover {
  color: #ccfed5;
}

.border-green-200 {
  border: 1px solid rgb(129, 252, 151);
}

.border-green-200-top {
  border-top: 1px solid rgb(129, 252, 151);
}

.border-green-200-bottom {
  border-bottom: 1px solid rgb(129, 252, 151);
}

.border-green-200-start {
  border-left: 1px solid rgb(129, 252, 151);
}

.border-green-200-end {
  border-right: 1px solid rgb(129, 252, 151);
}

a.link-green-300 {
  color: rgb(85, 250, 114);
}
a.link-green-300:hover {
  color: #9ffcb0;
}

.text-green-300 {
  color: rgb(85, 250, 114);
}

.bg-green-300 {
  background-color: rgb(85, 250, 114);
}

a.link-green-300 {
  color: rgb(85, 250, 114);
}
a.link-green-300:hover {
  color: #9ffcb0;
}

.border-green-300 {
  border: 1px solid rgb(85, 250, 114);
}

.border-green-300-top {
  border-top: 1px solid rgb(85, 250, 114);
}

.border-green-300-bottom {
  border-bottom: 1px solid rgb(85, 250, 114);
}

.border-green-300-start {
  border-left: 1px solid rgb(85, 250, 114);
}

.border-green-300-end {
  border-right: 1px solid rgb(85, 250, 114);
}

a.link-green-400 {
  color: rgb(48, 252, 84);
}
a.link-green-400:hover {
  color: #7bfd92;
}

.text-green-400 {
  color: rgb(48, 252, 84);
}

.bg-green-400 {
  background-color: rgb(48, 252, 84);
}

a.link-green-400 {
  color: rgb(48, 252, 84);
}
a.link-green-400:hover {
  color: #7bfd92;
}

.border-green-400 {
  border: 1px solid rgb(48, 252, 84);
}

.border-green-400-top {
  border-top: 1px solid rgb(48, 252, 84);
}

.border-green-400-bottom {
  border-bottom: 1px solid rgb(48, 252, 84);
}

.border-green-400-start {
  border-left: 1px solid rgb(48, 252, 84);
}

.border-green-400-end {
  border-right: 1px solid rgb(48, 252, 84);
}

a.link-green-500 {
  color: rgb(12, 201, 46);
}
a.link-green-500:hover {
  color: #2ff352;
}

.text-green-500 {
  color: rgb(12, 201, 46);
}

.bg-green-500 {
  background-color: rgb(12, 201, 46);
}

a.link-green-500 {
  color: rgb(12, 201, 46);
}
a.link-green-500:hover {
  color: #2ff352;
}

.border-green-500 {
  border: 1px solid rgb(12, 201, 46);
}

.border-green-500-top {
  border-top: 1px solid rgb(12, 201, 46);
}

.border-green-500-bottom {
  border-bottom: 1px solid rgb(12, 201, 46);
}

.border-green-500-start {
  border-left: 1px solid rgb(12, 201, 46);
}

.border-green-500-end {
  border-right: 1px solid rgb(12, 201, 46);
}

a.link-blue-100 {
  color: #6f7589;
}
a.link-blue-100:hover {
  color: #999dac;
}

.text-blue-100 {
  color: #6f7589;
}

.bg-blue-100 {
  background-color: #6f7589;
}

a.link-blue-100 {
  color: #6f7589;
}
a.link-blue-100:hover {
  color: #999dac;
}

.border-blue-100 {
  border: 1px solid #6f7589;
}

.border-blue-100-top {
  border-top: 1px solid #6f7589;
}

.border-blue-100-bottom {
  border-bottom: 1px solid #6f7589;
}

.border-blue-100-start {
  border-left: 1px solid #6f7589;
}

.border-blue-100-end {
  border-right: 1px solid #6f7589;
}

a.link-blue-200 {
  color: #505163;
}
a.link-blue-200:hover {
  color: #72748d;
}

.text-blue-200 {
  color: #505163;
}

.bg-blue-200 {
  background-color: #505163;
}

a.link-blue-200 {
  color: #505163;
}
a.link-blue-200:hover {
  color: #72748d;
}

.border-blue-200 {
  border: 1px solid #505163;
}

.border-blue-200-top {
  border-top: 1px solid #505163;
}

.border-blue-200-bottom {
  border-bottom: 1px solid #505163;
}

.border-blue-200-start {
  border-left: 1px solid #505163;
}

.border-blue-200-end {
  border-right: 1px solid #505163;
}

a.link-blue-300 {
  color: #3e4053;
}
a.link-blue-300:hover {
  color: #5f627f;
}

.text-blue-300 {
  color: #3e4053;
}

.bg-blue-300 {
  background-color: #3e4053;
}

a.link-blue-300 {
  color: #3e4053;
}
a.link-blue-300:hover {
  color: #5f627f;
}

.border-blue-300 {
  border: 1px solid #3e4053;
}

.border-blue-300-top {
  border-top: 1px solid #3e4053;
}

.border-blue-300-bottom {
  border-bottom: 1px solid #3e4053;
}

.border-blue-300-start {
  border-left: 1px solid #3e4053;
}

.border-blue-300-end {
  border-right: 1px solid #3e4053;
}

a.link-blue-400 {
  color: #2b2d42;
}
a.link-blue-400:hover {
  color: #494d70;
}

.text-blue-400 {
  color: #2b2d42;
}

.bg-blue-400 {
  background-color: #2b2d42;
}

a.link-blue-400 {
  color: #2b2d42;
}
a.link-blue-400:hover {
  color: #494d70;
}

.border-blue-400 {
  border: 1px solid #2b2d42;
}

.border-blue-400-top {
  border-top: 1px solid #2b2d42;
}

.border-blue-400-bottom {
  border-bottom: 1px solid #2b2d42;
}

.border-blue-400-start {
  border-left: 1px solid #2b2d42;
}

.border-blue-400-end {
  border-right: 1px solid #2b2d42;
}

a.link-blue-500 {
  color: #232538;
}
a.link-blue-500:hover {
  color: #404467;
}

.text-blue-500 {
  color: #232538;
}

.bg-blue-500 {
  background-color: #232538;
}

a.link-blue-500 {
  color: #232538;
}
a.link-blue-500:hover {
  color: #404467;
}

.border-blue-500 {
  border: 1px solid #232538;
}

.border-blue-500-top {
  border-top: 1px solid #232538;
}

.border-blue-500-bottom {
  border-bottom: 1px solid #232538;
}

.border-blue-500-start {
  border-left: 1px solid #232538;
}

.border-blue-500-end {
  border-right: 1px solid #232538;
}

a.link-blue-600 {
  color: #202233;
}
a.link-blue-600:hover {
  color: #3d4162;
}

.text-blue-600 {
  color: #202233;
}

.bg-blue-600 {
  background-color: #202233;
}

a.link-blue-600 {
  color: #202233;
}
a.link-blue-600:hover {
  color: #3d4162;
}

.border-blue-600 {
  border: 1px solid #202233;
}

.border-blue-600-top {
  border-top: 1px solid #202233;
}

.border-blue-600-bottom {
  border-bottom: 1px solid #202233;
}

.border-blue-600-start {
  border-left: 1px solid #202233;
}

.border-blue-600-end {
  border-right: 1px solid #202233;
}

a.link-blue-700 {
  color: #1d1f2e;
}
a.link-blue-700:hover {
  color: #3b3f5d;
}

.text-blue-700 {
  color: #1d1f2e;
}

.bg-blue-700 {
  background-color: #1d1f2e;
}

a.link-blue-700 {
  color: #1d1f2e;
}
a.link-blue-700:hover {
  color: #3b3f5d;
}

.border-blue-700 {
  border: 1px solid #1d1f2e;
}

.border-blue-700-top {
  border-top: 1px solid #1d1f2e;
}

.border-blue-700-bottom {
  border-bottom: 1px solid #1d1f2e;
}

.border-blue-700-start {
  border-left: 1px solid #1d1f2e;
}

.border-blue-700-end {
  border-right: 1px solid #1d1f2e;
}

a.link-purple-100 {
  color: rgb(204, 166, 255);
}
a.link-purple-100:hover {
  color: #f8f3ff;
}

.text-purple-100 {
  color: rgb(204, 166, 255);
}

.bg-purple-100 {
  background-color: rgb(204, 166, 255);
}

a.link-purple-100 {
  color: rgb(204, 166, 255);
}
a.link-purple-100:hover {
  color: #f8f3ff;
}

.border-purple-100 {
  border: 1px solid rgb(204, 166, 255);
}

.border-purple-100-top {
  border-top: 1px solid rgb(204, 166, 255);
}

.border-purple-100-bottom {
  border-bottom: 1px solid rgb(204, 166, 255);
}

.border-purple-100-start {
  border-left: 1px solid rgb(204, 166, 255);
}

.border-purple-100-end {
  border-right: 1px solid rgb(204, 166, 255);
}

a.link-purple-200 {
  color: rgb(185, 133, 255);
}
a.link-purple-200:hover {
  color: #e5d2ff;
}

.text-purple-200 {
  color: rgb(185, 133, 255);
}

.bg-purple-200 {
  background-color: rgb(185, 133, 255);
}

a.link-purple-200 {
  color: rgb(185, 133, 255);
}
a.link-purple-200:hover {
  color: #e5d2ff;
}

.border-purple-200 {
  border: 1px solid rgb(185, 133, 255);
}

.border-purple-200-top {
  border-top: 1px solid rgb(185, 133, 255);
}

.border-purple-200-bottom {
  border-bottom: 1px solid rgb(185, 133, 255);
}

.border-purple-200-start {
  border-left: 1px solid rgb(185, 133, 255);
}

.border-purple-200-end {
  border-right: 1px solid rgb(185, 133, 255);
}

a.link-purple-300 {
  color: rgb(160, 91, 252);
}
a.link-purple-300:hover {
  color: #cca6fd;
}

.text-purple-300 {
  color: rgb(160, 91, 252);
}

.bg-purple-300 {
  background-color: rgb(160, 91, 252);
}

a.link-purple-300 {
  color: rgb(160, 91, 252);
}
a.link-purple-300:hover {
  color: #cca6fd;
}

.border-purple-300 {
  border: 1px solid rgb(160, 91, 252);
}

.border-purple-300-top {
  border-top: 1px solid rgb(160, 91, 252);
}

.border-purple-300-bottom {
  border-bottom: 1px solid rgb(160, 91, 252);
}

.border-purple-300-start {
  border-left: 1px solid rgb(160, 91, 252);
}

.border-purple-300-end {
  border-right: 1px solid rgb(160, 91, 252);
}

a.link-purple-400 {
  color: rgb(141, 56, 255);
}
a.link-purple-400:hover {
  color: #b985ff;
}

.text-purple-400 {
  color: rgb(141, 56, 255);
}

.bg-purple-400 {
  background-color: rgb(141, 56, 255);
}

a.link-purple-400 {
  color: rgb(141, 56, 255);
}
a.link-purple-400:hover {
  color: #b985ff;
}

.border-purple-400 {
  border: 1px solid rgb(141, 56, 255);
}

.border-purple-400-top {
  border-top: 1px solid rgb(141, 56, 255);
}

.border-purple-400-bottom {
  border-bottom: 1px solid rgb(141, 56, 255);
}

.border-purple-400-start {
  border-left: 1px solid rgb(141, 56, 255);
}

.border-purple-400-end {
  border-right: 1px solid rgb(141, 56, 255);
}

a.link-purple-500 {
  color: rgb(125, 30, 252);
}
a.link-purple-500:hover {
  color: #a969fd;
}

.text-purple-500 {
  color: rgb(125, 30, 252);
}

.bg-purple-500 {
  background-color: rgb(125, 30, 252);
}

a.link-purple-500 {
  color: rgb(125, 30, 252);
}
a.link-purple-500:hover {
  color: #a969fd;
}

.border-purple-500 {
  border: 1px solid rgb(125, 30, 252);
}

.border-purple-500-top {
  border-top: 1px solid rgb(125, 30, 252);
}

.border-purple-500-bottom {
  border-bottom: 1px solid rgb(125, 30, 252);
}

.border-purple-500-start {
  border-left: 1px solid rgb(125, 30, 252);
}

.border-purple-500-end {
  border-right: 1px solid rgb(125, 30, 252);
}

a.link-main-100 {
  color: #eecea8;
}
a.link-main-100:hover {
  color: #fbf2e8;
}

.text-main-100 {
  color: #eecea8;
}

.bg-main-100 {
  background-color: #eecea8;
}

a.link-main-100 {
  color: #eecea8;
}
a.link-main-100:hover {
  color: #fbf2e8;
}

.border-main-100 {
  border: 1px solid #eecea8;
}

.border-main-100-top {
  border-top: 1px solid #eecea8;
}

.border-main-100-bottom {
  border-bottom: 1px solid #eecea8;
}

.border-main-100-start {
  border-left: 1px solid #eecea8;
}

.border-main-100-end {
  border-right: 1px solid #eecea8;
}

a.link-main-200 {
  color: #f8a26f;
}
a.link-main-200:hover {
  color: #fcd1b8;
}

.text-main-200 {
  color: #f8a26f;
}

.bg-main-200 {
  background-color: #f8a26f;
}

a.link-main-200 {
  color: #f8a26f;
}
a.link-main-200:hover {
  color: #fcd1b8;
}

.border-main-200 {
  border: 1px solid #f8a26f;
}

.border-main-200-top {
  border-top: 1px solid #f8a26f;
}

.border-main-200-bottom {
  border-bottom: 1px solid #f8a26f;
}

.border-main-200-start {
  border-left: 1px solid #f8a26f;
}

.border-main-200-end {
  border-right: 1px solid #f8a26f;
}

a.link-main-300 {
  color: #b5654c;
}
a.link-main-300:hover {
  color: #cb9482;
}

.text-main-300 {
  color: #b5654c;
}

.bg-main-300 {
  background-color: #b5654c;
}

a.link-main-300 {
  color: #b5654c;
}
a.link-main-300:hover {
  color: #cb9482;
}

.border-main-300 {
  border: 1px solid #b5654c;
}

.border-main-300-top {
  border-top: 1px solid #b5654c;
}

.border-main-300-bottom {
  border-bottom: 1px solid #b5654c;
}

.border-main-300-start {
  border-left: 1px solid #b5654c;
}

.border-main-300-end {
  border-right: 1px solid #b5654c;
}

a.link-main-400 {
  color: #855d68;
}
a.link-main-400:hover {
  color: #aa858f;
}

.text-main-400 {
  color: #855d68;
}

.bg-main-400 {
  background-color: #855d68;
}

a.link-main-400 {
  color: #855d68;
}
a.link-main-400:hover {
  color: #aa858f;
}

.border-main-400 {
  border: 1px solid #855d68;
}

.border-main-400-top {
  border-top: 1px solid #855d68;
}

.border-main-400-bottom {
  border-bottom: 1px solid #855d68;
}

.border-main-400-start {
  border-left: 1px solid #855d68;
}

.border-main-400-end {
  border-right: 1px solid #855d68;
}

a.link-main-500 {
  color: #8c837a;
}
a.link-main-500:hover {
  color: #afa9a3;
}

.text-main-500 {
  color: #8c837a;
}

.bg-main-500 {
  background-color: #8c837a;
}

a.link-main-500 {
  color: #8c837a;
}
a.link-main-500:hover {
  color: #afa9a3;
}

.border-main-500 {
  border: 1px solid #8c837a;
}

.border-main-500-top {
  border-top: 1px solid #8c837a;
}

.border-main-500-bottom {
  border-bottom: 1px solid #8c837a;
}

.border-main-500-start {
  border-left: 1px solid #8c837a;
}

.border-main-500-end {
  border-right: 1px solid #8c837a;
}

a.link-main-600 {
  color: #8d99ae;
}
a.link-main-600:hover {
  color: #bac1ce;
}

.text-main-600 {
  color: #8d99ae;
}

.bg-main-600 {
  background-color: #8d99ae;
}

a.link-main-600 {
  color: #8d99ae;
}
a.link-main-600:hover {
  color: #bac1ce;
}

.border-main-600 {
  border: 1px solid #8d99ae;
}

.border-main-600-top {
  border-top: 1px solid #8d99ae;
}

.border-main-600-bottom {
  border-bottom: 1px solid #8d99ae;
}

.border-main-600-start {
  border-left: 1px solid #8d99ae;
}

.border-main-600-end {
  border-right: 1px solid #8d99ae;
}

a.link-main-700 {
  color: #edf2f4;
}
a.link-main-700:hover {
  color: white;
}

.text-main-700 {
  color: #edf2f4;
}

.bg-main-700 {
  background-color: #edf2f4;
}

a.link-main-700 {
  color: #edf2f4;
}
a.link-main-700:hover {
  color: white;
}

.border-main-700 {
  border: 1px solid #edf2f4;
}

.border-main-700-top {
  border-top: 1px solid #edf2f4;
}

.border-main-700-bottom {
  border-bottom: 1px solid #edf2f4;
}

.border-main-700-start {
  border-left: 1px solid #edf2f4;
}

.border-main-700-end {
  border-right: 1px solid #edf2f4;
}

/*# sourceMappingURL=style.css.map */
