.grid {
  display: grid;
  height: 100%;
  grid-template-columns: 4fr 2fr;

  .text {
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-areas: ". inner-text";
  }

  .sidebar {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-template-areas: "inner-sidebar .";
  }

  .inner-sidebar {
    grid-area: inner-sidebar;
    padding: 1.5rem 0 1.5rem 1.5rem;
  }

  .inner-text {
    grid-area: inner-text;
  }
}

@media only screen and (max-width: 1024px) {
  .grid {
    display: grid;
    height: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
    grid-template-areas:
      "sidebar"
      "text";

    .sidebar {
      display: grid;
      grid-area: sidebar;
      grid-template-columns: 5% 1fr 5%;
      grid-template-areas: ". inner-sidebar .";
    }

    .inner-sidebar {
      grid-area: inner-sidebar;
      padding: 1.5rem 0;
    }

    .text {
      display: grid;
      grid-area: text;
      grid-template-columns: 5% 1fr 5%;
      grid-template-areas: ". inner-text .";
    }

    .inner-text {
      grid-area: inner-text;
    }
  }
}

.text-trainer {
  position: relative;

  .background-text {
    cursor: pointer;
    user-select: none;
    text-align: justify;
    line-height: 1.4;
  }
}

.input-text {
  position: absolute;
  top: 0;
  opacity: 1;
  left: 0;
  caret-color: #a1aec4;
  cursor: pointer;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0);
  user-select: none;

  &:focus {
    outline: 0 none;
  }
}

.settings-bar {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.statistics-bar {
  display: none;
  flex-direction: column;
  gap: 10px;
}

.result-modal {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  animation: change-opacity 0.4s ease-out;

  .modal-window {
    min-width: 350px;
    animation: move-result-modal 0.4s ease-out;
  }

  .body-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .header {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
}

.start-typing-trainer {
  align-self: center;
}

.invalid-char {
  animation: change-invalid-color 0.1s ease-out forwards;
}

.correct-char {
  animation: change-correct-color 0.1s ease-out forwards;
}

.invalid-word {
  color: rgb(255, 68, 54) !important;
}

@keyframes change-correct-color {
  from {
    color: white;
  }
  to {
    color: #58bb43;
  }
}

@keyframes change-invalid-color {
  from {
    color: white;
  }
  to {
    color: rgb(255, 68, 54);
  }
}

@keyframes move-result-modal {
  from {
    margin-bottom: 100px;
  }

  to {
    margin-bottom: 0px;
  }
}

@keyframes change-opacity {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
