@use "animations";

.text-trainer {
  position: relative;
}

.background-text {
  cursor: pointer;
  user-select: none;
  text-align: justify;
  line-height: 1.4;
  color: #6f7589;

  &.selected {
    animation: selected-text 0.1s ease-out forwards;
  }
}

.input-text {
  position: absolute;
  top: 0;
  opacity: 0;
  left: 0;
  caret-color: #a1aec4;
  cursor: pointer;
  background: none;
  border: none;
  color: rgba(0, 0, 0, 0);
  user-select: none;

  &:focus {
    outline: 0 none;
  }
}

.settings-bar {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.statistics-bar {
  display: none;
  .inner {
    gap: 7px;
  }
}

.result-modal,
.loading-page {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 100%;
  z-index: 1000;
  display: none;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
}

.result-modal {
  animation: change-opacity 0.4s ease-out;

  .modal-window {
    min-width: 350px;
    animation: move-result-modal 0.4s ease-out;
  }

  .body-inner {
    display: flex;
    flex-direction: column;
    gap: 5px;
  }

  .accuracy,
  .modal-keystrokes,
  .modal-wpm,
  .modal-invalid-words-amount,
  .modal-correct-words-amount,
  .modal-accuracy,
  .modal-typo-amount {
    display: flex;
    justify-content: end;
    gap: 5px;
  }

  .header {
    border-top-left-radius: 0.25em;
    border-top-right-radius: 0.25em;
  }

  .footer {
    display: flex;
    align-items: center;
    justify-content: end;
    border-bottom-left-radius: 0.25em;
    border-bottom-right-radius: 0.25em;
  }
}

.last-result-content {
  display: flex;
  flex-direction: column;
  gap: 7px;

  & div {
    display: flex;
    justify-content: end;
    gap: 5px;
  }
}

.other-users-last-result-content {
  display: flex;
  flex-direction: column;
  gap: 10px;

  & div {
    display: flex;
    gap: 5px;
    justify-content: space-between;
  }
}

.other-user-results-list {
  max-height: 605px;
  overflow-y: auto;
  overflow-x: hidden;
}

.last-results-list,
.list,
.other-users-results {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.list {
  max-height: 460px;
  overflow-y: auto;
}

.start-typing-trainer {
  align-self: center;
}

.invalid-char {
  animation: change-invalid-color 0.1s ease-out forwards;
}

.correct-char {
  animation: change-correct-color 0.1s ease-out forwards;
}

.selected-char {
  animation: change-selected-char 0.1s ease-out forwards;
}

.invalid-word {
  color: rgb(255, 68, 54) !important;
}
