{% extends 'account/account_base.html' %}
{% load static %}
{% load thumbnail %}
{% load crispy_forms_tags %}

{% block stylesheet %}
<link rel="stylesheet" href="{% static 'account/css/profile-style.css' %}">
{% endblock %}

{% block account_content %}
{% if user_profile.user == user %}
{% include 'account/includes/load-page-modal.html' %}
{% include 'account/includes/delete-photo-modal.html' %}
{% endif %}

<div class="row g-3">

    <div class="col-lg-auto">

        <!--User's Statistics-->
        <div class="p-3 bg-blue-800 rounded">
            <div class="account-statistics text-light">

                <div class="mb-1">
                    <span class="fs-5 fw-bold lh-1">Статистика {{ user_profile.user.username }}</span>
                    <br>
                    <p class="lh-sm text-blue-100 m-0 mt-1">
                        <small class="">
                            Статистика считается средним арифметическим<br>
                            ваших предыдущих результатов.
                        </small>
                    </p>
                </div>

                <div class="bg-blue-500 p-2 rounded d-flex justify-content-between">
                    <small><span class="fw-bold">{{ user_profile.user.statistic.average_wpm }} WPM</span></small>
                    <small><span class="ms-1 text-blue-100">Ср. Скорость набора текста</span></small>
                </div>

                <div class="bg-blue-500 p-2 rounded d-flex justify-content-between">
                    <small><span class="fw-bold">{{ user_profile.user.statistic.average_accuracy }}%</span></small>
                    <small><span class="ms-1 text-blue-100">Ср. Аккуратность печати</span></small>
                </div>

                <div class="bg-blue-500 p-2 rounded d-flex justify-content-between">
                    <small><span class="fw-bold text-green-300">
                        {{ user_profile.user.statistic.average_correct_chars_amount }}
                    </span></small>
                    <small><span class="ms-1 text-blue-100">Ср. Количество правильных символов</span></small>
                </div>

                <div class="bg-blue-500 p-2 rounded d-flex justify-content-between">
                    <small><span class="fw-bold text-red-300">
                        {{ user_profile.user.statistic.average_typo_amount }}
                    </span></small>
                    <small><span class="ms-1 text-blue-100">Ср. Количество опечаток</span></small>
                </div>

            </div>
        </div>

        {% if user_profile.user == user %}
        <!--Settings form-->
        <div class="mt-3 p-3 bg-blue-800 rounded">
            <div class="account-statistics text-light">

                <div class="mb-1">
                    <span class="fs-5 fw-bold lh-1">Настройки</span>
                    <br>
                    <p class="lh-sm text-blue-100 m-0 mt-1">
                        <small class="">
                            Что будут видеть другие пользователи
                        </small>
                    </p>
                </div>

                <div>
                    <form action="{% url 'account:update_profile_settings' %}" method="post" novalidate>
                        {% csrf_token %}
                        {% crispy user_settings_form %}
                    </form>
                </div>

            </div>
        </div>
        {% endif %}

    </div>

    <div class="col">
        <div class="row g-3">

            <div class="col-12">
                <div class="p-3 bg-blue-800 rounded">

                    <div class="row g-3">

                        <div class="col-auto d-flex align-items-center justify-content-center">
                            <div class="">
                                <div class="profile-photo">
                                    {% if user_profile.user == user %}
                                    {% if not has_default_photo %}
                                    <div class="delete-profile-photo">
                                        <i class="bi bi-trash3"></i>
                                    </div>
                                    {% endif %}
                                    <div class="select-new-profile-photo rounded">
                                        <i class="fs-5 bi bi-camera text-light"></i>
                                    </div>
                                    {% endif %}
                                    {% thumbnail user_profile.photo "150x150" crop="center" as user_photo %}
                                    <img src="{{ user_photo.url }}" alt="Фото пользователя" class="rounded">
                                    {% endthumbnail %}
                                </div>
                            </div>
                        </div>

                        <div class="col text-light">
                            <div class="user-info">

                                <div>
                                    <span class="text-blue-100 me-1">Имя пользователя:</span>
                                    <span class="fw-bold bg-blue-500 py-1 px-2 rounded">{{ user_profile.user.username }}</span>
                                </div>

                                {% if user_profile.is_email_shown %}
                                <div>
                                    <span class="text-blue-100 me-1">Почта:</span>
                                    <span class="fw-bold bg-blue-500 py-1 px-2 rounded">{{ user_profile.user.email }}</span>
                                </div>
                                {% endif %}

                                {% if user_profile.user.first_name %}
                                <div>
                                    <span class="text-blue-100 me-1">Имя:</span>
                                    <span class="fw-bold bg-blue-500 py-1 px-2 rounded">{{ user_profile.user.first_name }}</span>
                                </div>
                                {% endif %}

                                {% if user_profile.user.last_name %}
                                <div>
                                    <span class="text-blue-100 me-1">Фамилия:</span>
                                    <span class="fw-bold bg-blue-500 py-1 px-2 rounded">{{ user_profile.user.last_name }}</span>
                                </div>
                                {% endif %}

                                <div>
                                    <span class="text-blue-100 me-1">Дата регистрации:</span>
                                    <span class="fw-bold bg-blue-500 py-1 px-2 rounded">
                                        {{ user_profile.user.date_joined|date:"N d, Y" }}
                                    </span>
                                </div>

                            </div>
                        </div>

                    </div>

                </div>
            </div>

            <div class="col-12">
                <div class="bg-blue-800 px-3 py-2 rounded">
                    <span class="fs-4 fw-bold text-light">Недавние результаты</span>
                </div>
            </div>

            <div class="col-12">
                <div class="row g-3">
                    {% if user_profile.are_results_shown %}
                        {% for result in results %}
                        <div class="col-lg-6">
                            {% include 'trainer/includes/last_result.html' %}
                        </div>
                        {% empty %}
                        <div class="col-12">
                            <div class="d-flex justify-content-center text-blue-100">
                                <small>Видимо, {{ user_profile.user.username }} не практиковался за последнее время.</small>
                            </div>
                        </div>
                        {% endfor %}
                    {% else %}
                        <div class="col-12">
                            <div class="d-flex justify-content-center text-blue-100">
                                <small>
                                    {{ user_profile.user.username }} запретил показывать свои результаты другим
                                    пользователям.
                                </small>
                            </div>
                        </div>
                    {% endif %}
                </div>
            </div>

        </div>
    </div>

</div>
{% endblock %}

{% block script %}
{% if user_profile.user == user %}
<script src="{% static 'account/js/load_profile_photo.js' %}"></script>
{% endif %}
{% endblock %}