{% extends 'base.html' %}
{% load thumbnail %}
{% load pagination_tags %}

{% block content %}
<div class="container">
  <div class="mt-3 mb-2 pb-2 border-blue-100-bottom">
    <span class="fw-bold fs-4 text-light">Топ пользователей</span>
  </div>

  {% if paginator.num_pages > 1 %}
  <div class="mb-3 pb-2 border-blue-100-bottom">
    <div class="row g-3 fs-5">
      {% if page_obj.has_previous %}
      <div class="col-auto">
        <a class="link-light" href="?page={{ page_obj.number|add:'-1' }}"><</a>
      </div>
      {% endif %}
      {% for page in page_range %}
      <div class="col-auto">
        {% if page|is_number %}
        <a class="link-{% if page == page_obj.number %}orange-400{% else %}light{% endif %}" href="?page={{ page }}">
          {{ page }}
        </a>
        {% else %}
        <span class="text-light">{{ page }}</span>
        {% endif %}
      </div>
      {% endfor %}

      {% if page_obj.has_next %}
      <div class="col-auto">
        <a class="link-light" href="?page={{ page_obj.number|add:'1' }}">></a>
      </div>
      {% endif %}
    </div>
  </div>
  {% endif %}

  <div class="row g-3">
    {% for current_user in users %}
    <div class="col-lg-3 col-4">

      <div>

        <div>
          {% thumbnail current_user.profile.photo "500x100" crop="center" as im %}
          <img src="{{ im.url }}" class="rounded-top w-100">
          {% endthumbnail %}
        </div>

        <div class="p-3 bg-blue-800 rounded-bottom
        {% if request.GET.page == '1' or request.GET.page is None %}
          {% if forloop.counter == 1 %}
          border-yellow-300-bottom
          {% elif forloop.counter == 2 %}
          border-main-600-bottom
          {% elif forloop.counter == 3 %}
          border-main-400-bottom
          {% else %}
          border-blue-800-bottom
          {% endif %}
        {% else %}
          border-blue-800-bottom
        {% endif %}">
          <a href="{{ current_user.get_absolute_url }}" class="link-light">
            <div class="border-blue-200-bottom pb-2">
              <small>
                <span class="fw-bold">{{ current_user.username }}
                {% if user == current_user %}
                <small class="fw-light">(Вы)</small>
                {% endif %}
                </span>
              </small>
            </div>

            <div class="pt-2 text-light">
              <div class="row row-cols-1 g-2">
                <div class="col">
                  <small>Скорость печати: <span class="fw-bold">{{ current_user.statistics.wpm }}</span> WPM</small>
                </div>
                <div class="col">
                  <small>
                    Аккуратность:
                    {% with current_user.statistics.accuracy as accuracy %}
                    <span class="
                  {% if 100 >= accuracy and accuracy > 75 %} text-green-300
                  {% elif 75 >= accuracy and accuracy > 50 %} text-orange-400
                  {% else %} text-red-300 {% endif %} fw-bold">
                  {{ accuracy }}
                  </span> %
                  </small>
                  {% endwith %}
                </div>
                <div class="col">
                  <small>
                    Количество попыток: <span class="fw-bold">{{ current_user.statistics.attempts_amount }}</span>
                    раз(а)
                  </small>
                </div>
              </div>
            </div>
          </a>

        </div>
      </div>

    </div>
    {% empty %}
    <div class="col-lg-6">
      <p class="text-blue-100 h-6">Пока нет никаких пользователей. Станьте первым!</p>
    </div>
    {% endfor %}
  </div>
</div>

{% endblock %}