<div class="container-fluid bg-blue-700 text-light">
    <div class="container">
        <div class="py-4">
            <div class="row g-4">

                <div class="col-lg-4 fw-bold">
                    <div class="d-flex flex-column">
                        <small>Typing practise - 2022</small>
                        <small><a href="https://github.com/BorisPlaton/typing_speed_trainer">Github</a></small>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>