<header>

    <div class="text-light bg-blue-800 py-3">
        <div class="container">
            <div class="logo">
                <a href="{% url 'trainer:typing_trainer' %}" class="link-light">
                    <span class="fs-4 fw-light"><i class="bi bi-chevron-right"></i>... Typing practise</span>
                </a>
            </div>
        </div>
    </div>

    <div class="bg-blue-500 border-blue-200-top border-blue-200-bottom fw-bold">

        <div class="container">
            <div class="py-1">
                <div class="row g-lg-5 g-2">

                    <div class="col-lg-auto">
                        <a href="{% url 'trainer:typing_trainer' %}" class="link-light">Тренажер</a>
                    </div>

                    {% if user.is_authenticated %}
                    <div class="col-lg-auto">
                        <a href="{{ user.get_absolute_url }}" class="link-light">Мой профиль</a>
                    </div>

                    <div class="col-lg-auto">
                        <a href="{% url 'account:logout' %}" class="link-light">Выйти</a>
                    </div>
                    {% else %}
                    <div class="col-lg-auto">
                        <a href="{% url 'account:login' %}" class="link-light">Войти</a>
                    </div>
                    {% endif %}

                </div>
            </div>
        </div>

    </div>

</header>